body {
    background-color: rgb(255, 180, 180);
}
.menu-bar {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    height: 50px;
  }
  .grid-item {
    border: 0px solid black;
    padding: 17px;
    width: 100%;
  }
  .MAPH {
    font-weight: 100;
    font-size: 2em;
    padding: 8px 8px;
  }
  .portfolio {
    text-align: center;
    width: 550px;
  }
  .portfolio:hover{
    background-color: #1a1a1a21;
  }
  .about-me {
    text-align: center;
    justify-content: center;
    width: 550px;
  }
  .about-me:hover {
    background-color: #1a1a1a21;
  }
  .mau-pad {
    text-align: center;
    width: 550px;
  }
  .mau-pad:hover {
    background-color: #1a1a1a21;
  }
  .search {
    text-align: right;
    font-weight: 200;
    font-size: 1em;
  }
  a:link, a:visited, a:hover, a:active{
    color: black; 
    background-color: transparent; 
    text-decoration: none;
  }
  @media only screen and (max-width: 700px) {
    .menu-bar {
      font-family: 'Montserrat', sans-serif;
      background-color: white;
      z-index: 1;
      right: 0;
      height: 100%;
      width: 200px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .landing {
      line-height: .90;
    }
    .mauricio {
      font-size: 5em;
      font-weight: 200;
    }
    .padilla {
      font-weight: bolder;
      padding-left: 5px;
      font-size: 6em;
    }
    .MAPH {
      width: 100%;
      height: 10%;
    }
    .portfolio {
      padding: 30px;
      width: 100%;
      text-align: right;
    }
    .about-me {
      padding: 30px;
      width: 100%;
      text-align: right;
    }
    .mau-pad {
      padding: 30px;
      width: 100%;
      text-align: right;
    }
    .search {
      height: 75%;
      width: 100%;
      padding-top: 450%
      
    }
  }

  .center-box-bg {
  background-color: white;
  position: fixed;
  align-content: center;
  margin-right: 20%;
  width: 70%;
  height: 80%;
  }
.center-box {
  background-color: #1a1a1ae7;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 1000px;

  display: grid;
  grid-template-columns:  20% 20% 20% 20%;
  grid-template-rows: 70px 20% 20% 20% 20%;
  justify-content: center;

}
.cb-nav {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 15px;
  padding: 10px;
  color: white;
  z-index: 1;
}
.cb-nav:hover {
  text-decoration-line: underline;
}
.studies {
  grid-column: 2 / span 1;
}
.software {
  grid-column: 3 / span 1;
}
.contact {
  grid-column: 4 / span 1;
}
.text-box {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  margin: 15px;
  padding: 10px;
  line-height: 1.75;
}
.studies-text {
  grid-column: 3 / span 3;
  grid-row: 2 /span 1;
  color: white
}
