* {
    box-sizing: border-box;
}
body {
    background-color: #1a1a1a;
}
.menu-bar {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    height: 50px;
    width: 100vw;
  }
  .grid-item {
    border: 0px solid black;
    padding: 17px;
    width: 100%;
  }
  .MAPH {
    font-weight: 100;
    font-size: 2em;
    padding: 8px 8px;
  }
  .portfolio {
    text-align: center;
    width: 550px;
  }
  .portfolio:hover{
    background-color: #1a1a1a21;
  }
  .about-me {
    text-align: center;
    justify-content: center;
    width: 550px;
  }
  .about-me:hover {
    background-color: #1a1a1a21;
  }
  .mau-pad {
    text-align: center;
    width: 550px;
  }
  .mau-pad:hover {
    background-color: #1a1a1a21;
  }
  .search {
    text-align: right;
    font-weight: 200;
    font-size: 1em;
  }
  a:link, a:visited, a:hover, a:active{
    color: black; 
    background-color: transparent; 
    text-decoration: none;
  }
  @media only screen and (max-width: 700px) {
    .menu-bar {
      font-family: 'Montserrat', sans-serif;
      background-color: white;
      z-index: 2;
      right: 0;
      height: 100%;
      width: 200px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .landing {
      line-height: .90;
    }
    .mauricio {
      font-size: 5em;
      font-weight: 200;
    }
    .padilla {
      font-weight: bolder;
      padding-left: 5px;
      font-size: 6em;
    }
    .MAPH {
      width: 100%;
      height: 10%;
    }
    .portfolio {
      padding: 30px;
      width: 100%;
      text-align: right;
    }
    .about-me {
      padding: 30px;
      width: 100%;
      text-align: right;
    }
    .mau-pad {
      padding: 30px;
      width: 100%;
      text-align: right;
    }
    .search {
      height: 75%;
      width: 100%;
      padding-top: 450%
    }
  }
  .category-bg {
    background-color: rgba(255, 255, 255, 1.00);
    width: 325px;
    height: 670px;
    z-index: 0;
    position: absolute;
    top: 135px;
    margin-left: 18%;
  }
  .category {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Abril Fatface', cursive;
    background-color: rgba(0, 0, 0, 0.80);
    color: white;
    width: 325px;
    height: 670px;
    z-index: 1;
    position: absolute;
    top: 150px;
    margin-left: 20%;
  }
  .filter {
      font-size: 3em;
      padding: 20px;
  }
  .all {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    padding-left: 40px;
  }
  .all:hover {
      text-decoration-line: underline;
  }
  .motion-graphics {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    padding-left: 40px;
  }
  .motion-graphics:hover {
      text-decoration-line: underline;
  }
  .photos {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    padding-left: 40px;
  }
  .photos:hover {
      text-decoration-line: underline;
  }
  .assorted {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    padding-left: 40px;
  }
  .assorted:hover {
      text-decoration-line: underline;
  }